.header-content{
    min-height: 75vh;
    background: linear-gradient(rgba(39, 97, 174, 1), rgba(39, 46, 174, 0.4)), url("../../images/lib_image.jpg") center/cover no-repeat;
    flex-direction: column;
}
.header-title{
    font-size: 4.2rem;
}
.header-text{
    margin-top: -1.8rem;
    margin-bottom: 2.8rem;
    opacity: 0.8;
    max-width: 770px;
}